<div class="row mb-5 ">
  <div class="card p-0">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h1>{{name}}</h1>
        <span>{{{format_date date_created}}} by {{user.name}}</span>
    </div>
    <div class="card-body">{{description}}</div>
  </div>
</div>