{{#each posts as |post| }}
<div class="btn btn-secondary d-flex justify-content-between mb-2"><span>{{post.name}}</span><span>{{format_date post.date_created}}</span></div>
{{/each}}
<div class="btn btn-primary d-flex justify-content-center" id="add-post">+</div>
<script src="/js/dashboard.js"></script>