<div class="card">
    <h3 class="card-header">Create Post</h3>
    <div class="card-body">
            <div class="form-outline mb-4">
                <label class="form-label" for="post-name">Post Title</label>
                <input type="input" id="post-name" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="post-content">Content</label>
                <textarea type="textarea" id="post-content" class="form-control form-control-lg" style="height:200px"></textarea>
            </div>
    </div>
    <div class="btn btn-primary m-3" id = 'add-post'>Post It!</div>
</div>
<script src="/js/add-post.js"></script>